---
layout: page
title: Welcome to Wikispeedia Insights!
subtitle: Let’s dive into the good, the bad, and the downright ugly attributes of articles
cover-img: /assets/img/GBU.jpg
---

<section id="Introduction">
    <h2> Introduction </h2>
    <p>Enter the wild and thrilling frontier of <a href="https://snap.stanford.edu/data/wikispeedia.html">Wikispeedia</a>, a game where players must navigate from one Wikipedia article to another by following hyperlinks. It’s a challenge of strategy, knowledge and wits, testing how quickly and efficiently you can travel through the expansive web of interconnected articles.</p>
    <p>What makes some articles the trusty steed that carries you to victory? Why do others lead you astray, wandering like a lone ranger in the desert?</p>
    <p>Here, we saddle up to decode the secrets of the trailblazing articles. Through data-driven insights, we’ll uncover how these key topics guide players through this untamed maze of hyperlinks.</p>
    <p>So, partner, ready to ride into the unknown? Let’s hit the dusty trail and unravel the mystery together!</p>
    
    <div style="text-align: center; margin-top: 20px;">
        <p><em>Listen along while you discover the data!</em></p>
        <audio controls>
            <source src="{{ '/assets/audio/my-audio-file.mp3' | relative_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</section>

<section id="Article-Data-Insights">
    <h2>Exploring the data frontier: An insight into article data</h2>
    <p>Articles are the steady horses that carry players to victory, guiding them through the winding trails of hyperlinks. Here’s what we’ve learned about these horses and their traits:</p>
    <img src="{{ '/assets/img/article.jpg' | relative_url }}" alt="Descriptive Alt Text" style="display: block; margin-bottom: 20px; width: 100%; max-width: 10000px;">
    {% include_relative Content/article_data.html %}
</section>

<section id="Played-Paths-Data-Insights">
    <h2>Navigating the trails: an insight into played paths</h2>
    <p>Some paths are quick trails to victory, while others are just false leads or dead ends in the wild west of Wikispeedia.</p>
    <img src="{{ '/assets/img/paths.jpg' | relative_url }}" alt="Descriptive Alt Text" style="display: block; margin-bottom: 20px; width: 100%; max-width: 10000px;">
    {% include_relative Content/path_data.html %}
</section>

<section id="Article-Scoring-and-Ranking">
    <h2>Article Scoring: Ranking the Steeds</h2>
    <p> Now, partner, it’s time to score these trusty steeds and determine which ones guide our cowboys through the rugged trails. How can measure an article's "goodness"?</p>
    <img src="{{ '/assets/img/podiumnewaspectratio.png' | relative_url }}" alt="Descriptive Alt Text" style="display: block; margin-bottom: 20px; width: 100%; max-width: 10000px;">
    {% include_relative Content/article_scoring.html %}
</section>

<section id="Correlation">
    <h2>Analysis of attribute and score correlation</h2>
    <p>You might be wondering if the defined scores show any meaningful relationship with the article attributes. Let's dig into the data and find out!</p>
    <img src="{{ '/assets/img/penseurnewaspectratio.png' | relative_url }}" alt="Descriptive Alt Text" style="display: block; margin-bottom: 20px; width: 100%; max-width: 10000px;">
    {% include_relative Content/article_score_attribute_corr.html %}
</section>


<div style="text-align: center; margin-top: 20px;">
    <p><strong>Thanks for ridin' along with us!</strong></p>
    <iframe 
        src="https://giphy.com/embed/YEVaC3nAjIe0U" 
        width="300" 
        height="300" 
        style="border: none;" 
        frameBorder="0" 
        class="giphy-embed" 
        allowFullScreen>
    </iframe>
</div>


